html, body {
    margin: 0;
    padding: 0;
}
:root {
    --font-family: 'Karla', sans-serif;
    --body-bg: #1E1F25;
    --btn-bg: #000;
    --btn-color: #cbcbcb;
    --btn-color-hover: #fff;
    --grad-color1: #eeaf61;
    --grad-color2: #fb9062;
    --grad-color3: #ee5d6c;
    --grad-color4: #ce4993;
    --grad-color5: #6a0d83;
}
body {
    background: var(--body-bg)
}
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}
.button {
    align-self: center;
    padding: 1.2em 3.2em;
    cursor: pointer;
    font-family: var(--font-family);
    background: var(--btn-bg);
    color: var(--btn-color);
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(115deg, var(--grad-color1), var(--grad-color2), var(--grad-color3), var(--grad-color4), var(--grad-color5));

}
.button:hover {
    color: var(--btn-color-hover);
    border: 3.6px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(115deg, var(--grad-color5), var(--grad-color4), var(--grad-color3), var(--grad-color2), var(--grad-color1) );
}